/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  background: linear-gradient(to bottom, #9cc0f2 24%, #6d86a8 67%, #010203 95%);
  height: 100vh;
  font-family: 'Roboto', sans-serif; }

button {
  display: block;
  font-family: 'Roboto', sans-serif;
  border-radius: 9px; }

.main {
  display: flex;
  justify-content: space-around;
  padding-top: 50px; }

.block-holder {
  height: 326px;
  width: 300px; }

.title {
  font-size: 20px;
  text-align: center;
  padding: 22px 0 16px;
  text-transform: uppercase;
  border-radius: 9px 9px 0 0;
  border-bottom: 1px solid #5368a6; }
  .title-1 {
    background: #6a92d8;
    color: white;
    border-top: 1px solid #96bfe8; }
  .title-2 {
    background: #9c9077;
    color: white;
    border-top: 1px solid #c5bea9; }
  .title-3 {
    background: #4c8d6f;
    color: white;
    border-top: 1px solid #6fbca2; }
  .title-4 {
    background: #a5a074;
    color: white;
    border-top: 1px solid #cbc8a8; }

.holder-content {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0 0 10px 10px;
  padding: 23px 0 0;
  height: 100%; }

.btn {
  display: block;
  font-family: 'Roboto', sans-serif;
  border: none;
  outline: none;
  margin: 0 auto;
  text-transform: uppercase; }
  .btn:last-child {
    margin-bottom: 0; }
  .btn-lg {
    min-width: 249px;
    font-size: 20px;
    padding: 18px 0 17px;
    margin-bottom: 10px; }
  .btn-sm {
    min-width: 174px;
    font-size: 14px;
    padding: 14px 0 10px;
    margin-bottom: 7px; }
  .btn-1 {
    border-top: 1px solid #f2f2f2;
    background: #bdcde4;
    color: #8f5757; }
  .btn-2 {
    border-top: 1px solid #93bbe2;
    border-bottom: 1px solid #50629b;
    background: #678bcb;
    color: #711212; }
  .btn-3 {
    border-top: 1px solid #a5d0e9;
    border-bottom: 1px solid #4c5c95;
    background: #73add6;
    color: #e3f73a; }
  .btn-4 {
    border-top: 1px solid #8fccbd;
    border-bottom: 1px solid #47578d;
    background: #64a88e;
    color: #fff; }

.location {
  height: 84px; }
