*,
*:before,
*:after{
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, rgba(156,192,242,1) 24%,rgba(109,134,168,1) 67%,rgba(1,2,3,1) 95%);
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

button {
    display: block;
    font-family: 'Roboto', sans-serif;
    border-radius: 9px;
}

.main {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.block-holder {
    height: 326px;
    width: 300px;
}

.title {
    font-size: $font-medium;
    text-align: center;
    padding: 22px 0 16px;
    text-transform: uppercase;
    border-radius: 9px 9px 0 0;
    border-bottom: 1px solid #5368a6;

    &-1 {
        @include title($bg-title-1, $border-title-1)
    }
    
    &-2 {
        @include title($bg-title-2, $border-title-2)
    }
    
    &-3 {
        @include title($bg-title-3, $border-title-3)
    }
    
    &-4 {
        @include title($bg-title-4, $border-title-4)
    }
}

.holder-content {
    background: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 0 0 10px 10px;
    padding: 23px 0 0;
    height: 100%;
}

.btn {
    display: block;
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    margin: 0 auto;
    text-transform: uppercase;

    &:last-child {
        margin-bottom: 0;
    }

    &-lg {
        min-width: 249px;
        font-size: $font-medium;
        padding: 18px 0 17px;
        margin-bottom: 10px;
    }
    
    &-sm {
        min-width: 174px;
        font-size: $font-small;
        padding: 14px 0 10px;
        margin-bottom: 7px;
    }
    
    &-1 {
        border-top: 1px solid #f2f2f2;
        @include btn($bg-btn-1, $color-btn-1)
    }
    
    &-2 {
        border-top: 1px solid #93bbe2;
        border-bottom: 1px solid #50629b;
        @include btn($bg-btn-2, $color-btn-2)
    }
    
    &-3 {
        border-top: 1px solid #a5d0e9;
        border-bottom: 1px solid #4c5c95;
        @include btn($bg-btn-3, $color-btn-3)
    }
    
    &-4 {
        border-top: 1px solid #8fccbd;
        border-bottom: 1px solid #47578d;
        @include btn($bg-btn-4, $color-btn-4)
    }
}

.location {
    height: 84px;
}

  
  