$font-medium: 20px;
$font-small: 14px;

$bg-btn-1: #bdcde4;
$bg-btn-2:  #678bcb;
$bg-btn-3:  #73add6;
$bg-btn-4:  #64a88e;

$color-btn-1: #8f5757;
$color-btn-2: #711212;
$color-btn-3: #e3f73a;
$color-btn-4:  #fff;

$bg-title-1: #6a92d8;
$bg-title-2: #9c9077;
$bg-title-3: #4c8d6f;
$bg-title-4: #a5a074;

$border-title-1: #96bfe8;
$border-title-2: #c5bea9;
$border-title-3: #6fbca2;
$border-title-4: #cbc8a8;